@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins;
    font-weight: 400;
}

/* headings and logo */

h1,
h2 {
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000066;
}

#name {
    float: left;
    margin-left: 25px;
    font-size: 350%;
}

