@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins;
    font-weight: 400;
}

#hero-image {
    background-image: url('../images/hero-image-puphq.webp') no-repeat center center;
}

/* headings and logo */

h1,
h2 {
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000066;
}


#name {
    float: left;
    margin-left: 40px;
    font-size: 300%;
}

/* navigation links */

#name,
#page-links {
    line-height: 75px;
}

#page-links {
    font-size: 130%;
    float: right;
}

#page-links li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

#page-links a {
    text-decoration: none;
    color: inherit;
}

#page-links a:hover {
    border-bottom: 2px solid #000066;
}

.open {
    border-bottom: 2px solid #000066;

}

/* hero image */

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/hero-image-puphq.webp') no-repeat center center;
    background-size: cover;
    justify-content: center;
    display: flex;
}

#outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;


    /* hero image will zoom out on page load */

    animation-name: hero-zoom-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/* zoom out from hero image */

@keyframes hero-zoom-out {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1.0);
    }
}

/* information boxes inside hero image */

#hero-text-left,
#hero-text-left h2 {
    color: #fff;
    text-align: center;
}

#hero-text-right,
h2,
p {
    color: #fff;
    text-align: center;
}

#hero-text-left {
    font-size: 130%;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 350px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 0, 102, .5);
    top: 30px;
    left: 75px;
    position: absolute;
}

#hero-text-right {
    font-size: 75%;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 350px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 0, 102, .5);
    bottom: 30px;
    right: 75px;
    position: absolute;
}

/* middle section of the page */

#middle h2 {
    font-size: 200%;
    color: #000066;
    text-align: center;
    margin: 20px;
}
/* left hand side tip */
.tip-left {
    color: #000066;
    padding-left: 20px;
    height: 300px;
    width: 75%;
    
}

#heading-tip-left {
    height: 375px;
    width: 250px;
    font-size: 75%;
    text-align: center;
    border: 2px solid black;
    background-color: yellow;
    border-radius: 15px;
    margin-left: 20px;
}

#heading-tip-left, .tip-left {
    padding-left: 20px;
}
/* right hand side tip */
#tip-right, .tip-right {
    font-size: 150%;
    float: right;
}

#tip-right, .tip-right {
    height: 300px;
    width: 250px;
    font-size: 150%;
    float: right;
}