@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 2250px;
    margin: 0;
}

body {
    font-family: Poppins;
    font-weight: 400;
    background: linear-gradient(45deg, #061de3, #e306ca);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#hero-image {
    background-image: url('../images/hero-image-puphq.webp') no-repeat center center;
}

/* headings and logo */

h1,
h2 {
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}


#name {
    float: left;
    margin-left: 40px;
    font-size: 300%;
}

/* navigation links */

#name,
#page-links {
    line-height: 75px;
}

#page-links {
    font-size: 130%;
    float: right;
}

#page-links li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

#page-links a {
    text-decoration: none;
    color: #fff;
}

#page-links a:hover {
    border-bottom: 2px solid #fff;
}

.open {
    border-bottom: 2px solid #fff;

}

/* hero image */

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/hero-image-puphq.webp') no-repeat center center;
    background-size: cover;
    justify-content: center;
    display: flex;
}

#outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;


    /* hero image will zoom out on page load */

    animation-name: hero-zoom-out;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

@keyframes hero-zoom-out {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1.0);
    }
}

/* information boxes inside hero image */

#hero-text-left,
#hero-text-left h2 {
    color: #fff;
    text-align: center;
}

#hero-text-right,
h2,
p {
    color: #fff;
    text-align: center;
}

#hero-text-left {
    font-size: 75%;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 350px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 0, 102, .5);
    top: 30px;
    left: 75px;
    position: absolute;
}

#hero-text-right {
    font-size: 75%;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 375px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 0, 102, .5);
    bottom: 30px;
    right: 75px;
    position: absolute;
}

/* middle section of the page */

#middle h2 {
    font-size: 200%;
    color: #fff;
    text-align: center;
    margin: 20px;
}

/* left and right hand side tip */
.container {
    text-align: center;
    padding: 20px;

}

.container>div {
    width: 300px;
    height: 300px;
    background-color: beige;
}

#heading-tip-left {
    float: left;
    height: 400px;
    width: 350px;
    font-size: 100%;
    border: 10px solid #fff;
    border-radius: 25%;
    text-align: center;
    padding: 20px;

}

#heading-tip-left>p {
    text-align: center;
    color: #000066;
}

#heading-tip-right {
    float: right;
    height: 400px;
    width: 350px;
    font-size: 75%;
    border: 10px solid #fff;
    border-radius: 25%;
    padding: 20px;
    text-align: center;
}

#heading-tip-right>p {
    text-align: center;
    color: #000066;
}

/* center image */

#center-image {
    display: inline-block;
    margin: 0 auto;
    height: 400px;
    width: 30%;
    background-image: url('../images/high-5.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px solid #fff;
    border-radius: 25px;
}

/* center tip */

#heading-center-tip {
    width: 75%;
    height: 300px;
    background-color: beige;
    border: 10px solid black;
    clear: both;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    border-radius: 20%;
    padding-top: 40px;
    border: 10px solid #fff;
}

#heading-center-tip>p {
    text-align: center;
    color: #000066;
    padding: 20px;
}


/* gallery section at the bottom of the page */

.image-container>div {
    width: 25%;
    height: 100px;
}

#image-1 {
    float: left;
    height: 300px;
    position: absolute;
    left: 0;
    background-image: url('../images/puppy-2-1340615.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #fff;
}

#image-2 {
    float: right;
    height: 300px;
    position: absolute;
    left: 25%;
    background-image: url('../images/puppy-2-1340615.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #fff;

}

#image-3 {
    display: flex;
    position: absolute;
    right: 25%;
    height: 300px;
    background-image: url('../images/puppy-2-1340615.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #fff;
}

#image-4 {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 300px;
    background-image: url('../images/puppy-2-1340615.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #fff;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    margin-top: 300px;
}

.social-links {
    text-align: center;
    padding: 75px;
}

.social-links > li {
    display: inline;
    padding: 100px;


}

.social-links i {
    color: #fff;
    font-size: 200%;
    padding: 2%;
    margin: 1%;
}


